
@media (min-width: 360px) {
    .heros{
        &__left{
            background-image: url(../images/img4.jpg);
            display: flex;
            background-repeat: no-repeat;
            position: relative;
            height: 420px;
            background-size: 100% 100%;
        }
        &__right{
            width: 100%;
            margin: 30px 40px 30px 20px;
            &-text{
                margin-right: 40px;
            }
        }
        &-title{
            text-transform: uppercase;
            font-size: 28px;
            color: white;

        }
        &-subtitle{
            font-size: 24px;
            color: #89888F;
        }
        &-info{
            margin-top: 16px;
            color: white;
        }

    }
}


@media (min-width: 768px) {
    .heros{
        background-image: url(../images/img4.jpg);
        display: flex;
        background-repeat: no-repeat;
        position: relative;
        height: 90vh;
        background-position: left;
        background-size: 55vw 80vh;
        &__right{
            width: 50%;
            float: right;
            margin-left: auto;
            margin-right: 40px;
            margin-top: auto;
            margin-bottom: auto;
        }
        &-title{
            text-transform: uppercase;
            font-size: 36px;
            color: white;
        }
        &-subtitle{
            font-size: 30px;
            color: #89888F;
        }
        &-info{
            color: white;
        }
        &__left{
            display: none;
        }
    }
}
@media (min-width:1280px) {
    .heros{
        background-image: url(../images/img4.jpg);
        display: flex;
        background-repeat: no-repeat;
        position: relative;
        height: 90vh;
        background-position: left;
        background-size: 55vw 80vh;
        // background-size: 45% 600px;
        &__right{
            width: 50%;
            float: right;
            margin-left: auto;
            margin-right: 40px;
            margin-top: auto;
            margin-bottom: auto;
        }
        &-title{
            text-transform: uppercase;
            font-size: 50px;
            color: white;
        }
        &-subtitle{
            font-size: 40px;
            color: #89888F;
        }
        &__left{
            display: none;
        }
    }
}